ROOT_DIR="" # set the data path for outputs (used to evaluate) e.g. /home/user/ which will later is joined in the code with outputs/
DATA_DIR="" # set the data path for training srdorigin e.g. /home/user/data/srdorigin/ which will have inside the metadata.csv and the dir "wavs"